<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        
 
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">sa</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/beerme</property>
<!--  
        <property name="hibernate.connection.username">beermeadmin</property>
        <property name="hibernate.connection.password">beer4ever</property>
        <property name="hibernate.connection.url">jdbc:postgresql://52.86.23.2:5432/beerme</property>
 -->

        <property name="connection_pool_size">2</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>

 				<mapping class="beerme.Event"></mapping>
    </session-factory>
</hibernate-configuration>